.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 0.2rem;
  column-gap: 0.4rem;
  margin-bottom: 1.5rem;
}

.optionBtn {
  background-color: blueviolet;
  transition: background-color 250ms ease-in-out;
}

.optionBtn:hover,
.optionBtn:focus {
  background-color: rgb(65, 12, 115);
}

.resetBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: rgb(153, 8, 8);
  transition: background-color 250ms ease-in-out;
}

.resetBtn:hover,
.resetBtn:focus {
  background-color: rgb(103, 11, 11);
}
